.jumbotron {
    align-items: center;
    background-color: rgb(94, 94, 160);
    text-align: center;
    color: #000;

}
.d-none {
    display: none;
    }

    #fdf {
        font-weight: bold;
        font-size: 20px;

    }